*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ract{
    display: flex;
}
