*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 230px;
    border: 1px solid salmon;
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#card1{
    z-index: 4;
    transform: translate(-50%, -50%);
    background-color: red;
}
#card1:hover{
    z-index: 5;
    background-color: skyblue;
    box-shadow: 10px 10px 20px black;
    transition: 0.2s ease-in-out;
}

#card2{
    transform: translate(-50%, -50%) rotate(-7deg);
    z-index: 3;
    background-color: blue;
}
#card2:hover{
    z-index: 5;
    transform: translate(-50%, -50%);
    background-color: skyblue;
    box-shadow: 10px 10px 20px black;
    transition: 0.2s ease-in-out;
}

#card3{
    transform: translate(-50%, -50%) rotate(-14deg);
    z-index: 2;
    background-color: yellow;
}
#card3:hover{
    z-index: 5;
    transform: translate(-50%, -50%);
    background-color: skyblue;
    box-shadow: 10px 10px 20px black;
    transition: 0.2s ease-in-out;
}

#card4{
    transform: translate(-50%, -50%) rotate(-21deg);
    z-index: 1;
    background-color: green;
}
#card4:hover{
    z-index: 5;
    transform: translate(-50%, -50%);
    background-color: skyblue;
    box-shadow: 10px 10px 20px black;
    transition: 0.2s ease-in-out;
}