*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS';
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#header{
    width: 100%;
    height: 13%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

#logo{
    margin-left: 20px;
    height: 70%;
}

#logo img{
    height: 100%;
    object-fit: cover;
}

.texts{
    margin-left: 20px;
    color: rgb(9, 9, 88);
    font-weight: 500;
    display: flex;
    font-size: 3vh;
}
.texts i{
    padding-top: 4px;
}
.texts:hover{
    color: rgb(16, 107, 205);
}

#contact{
    color: rgb(9, 9, 88);
    margin-left: 30px;
    font-size: 3vh;
}
#contact p{
    font-size: 2vh;
    font-weight: lighter;
}
#contact u:hover{
    color: rgb(16, 107, 205);
}

#iconcontainer{
    color: rgb(9, 9, 88);
    display: flex;
    font-size: 3vh;
}
.icon{
    padding: 12px;
    border-radius: 50%;
}
.icon:hover{
    background-color: lightblue;
    color: rgb(16, 107, 205);
}

#login{
    color: rgb(9, 9, 88);
    display: flex;
    padding: 15px;
    border-radius: 50px;
    font-size: 3vh;
}
#login i{
    margin-right: 5px;
    font-size: 3vh;
}
#login:hover{
    background-color: lightblue;
    color: rgb(16, 107, 205);
}

#try{
    margin-right: 20px;
    background-color: green;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 3vh;
}
#try:hover{
    background-color: rgb(0, 51, 0);
}

#fakeheader{
    width: 100%;
    height: 13%;
}

#page1{
    width: 100%;
    height: 87%;
}

#strip{
    height: 8%;
    width: 100%;
    background-color: rgb(13, 34, 90);
    display: flex;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    color: white;
}

#strip u{
    margin-left: 20px;
    font-weight: 100;
    font-size: 2vh;
}

#content{
    height: 76%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#box1{
    height: 90%;
    width: 47%;
    background-color: white;
}

#box1 h1{
    font-weight: 600;
    color:  rgb(20, 53, 137);
    font-size: 4rem;
    margin: 30px 10px;
}

#box1 p{
    margin: 30px 10px;
    font-size: xx-large;
    font-weight: 200;
}

#btn{
    font-weight: 500;
    display: flex;
}
#btn1{
    width: 23%;
    padding: 10px 20px;
    background-color: rgb(36, 84, 241);
    color: white;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
#btn1:hover{
    background-color:rgb(13, 34, 90);
}
#btn2{
    width: 23%;
    padding: 10px 20px;
    color: rgb(36, 84, 241);;
    border: 2px solid  rgb(36, 84, 241);
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
#btn2:hover{
    color:rgb(20, 53, 137);
    border: 2px solid rgb(20, 53, 137);
    background-color: rgb(214, 236, 244);
}

#box2{
    height: 90%;
    width: 47%;
    background-color: lightcyan;
}
#box2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#heading{
    height: 16%;
    width: 100%;
    color:  rgb(20, 53, 137);
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#heading h1{
    font-weight: 600;
}


#page2{
    width: 100%;
    height: 87%;
    background-color: grey;
} 